.descripccion{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: .5rem;
    padding: 1%;
    margin-top: 2%;
    .box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2%;
        width: 20rem;
    }
    .boxn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        padding: .5rem;
    }
    .boxn::before{
        content: '';
        width: 2rem;
        height: 2rem;
        padding: .5rem;
        border-radius: 100%;
        position: absolute;
        z-index: -10;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite;
    }
    .boxt p{
        font-weight: bold;
    }

}



    @keyframes animate {
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
        }
