@import "_nav.scss";
@import "_presentacion.scss";
@import "_descripccion.scss";
@import "footer.scss";
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* Colores
bg-primary: #03faee;
bg-secondary: #f8f8f8;
color-primary: #8b8b8b;
2
shadow: #92f7f2;*/
